body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid rgb(15, 15, 15);
}

table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    width: 35%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    padding: 10;
    text-align: center;
}

#content {
    width: 70%;
}

.addSample {
    padding: 10px;
    margin-bottom: 5px;
}