{% extends 'base.html' %}

{% block head %}
<title>Developer Assessment</title>
{% endblock %}

{% block body %}
<h1 style="text-align:center">Tissue Sample Collection Directory</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Disease Term</th>
        <th>Title</th>
    </tr>
    {% for temp in col %}
    <tr>
        {% set test = temp.id %}
        <td><a href = "{{ url_for('samples', rel_id = test)}}">{{ temp.id }}</a></td>
        <td>{{ temp.disease_term }}</td>
        <td>{{ temp.title }}</td>
    </tr>
    {% endfor %}
</table>

<p style="text-align: center">** Please select the Collection ID to view associated samples **</p>
{% endblock %}