{% extends 'base.html' %}

{% block head %}
<title>Developer Assessment</title>
{% endblock %}

{% block body %}
<h1 style="text-align:center">Associated Sample Details</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Collection Id</th>
        <th>Donor Count</th>
        <th>Material Type</th>
        <th>Last Updated</th>
    </tr>
    {% for association in samp %}
    <tr>
        <td>{{ association.id }}</td>
        <td>{{ association.collection_id }}</td>
        <td>{{ association.donor_count }}</td>
        <td>{{ association.material_type }}</td>
        <td>{{ association.last_updated }}</td>
    </tr>
    {% endfor %}
</table>
{% set collection_id = collection_id %}
<div class = "addSample">
<form style="text-align: center" action="{{ url_for('add', col_id=collection_id) }}" method="POST">
    <label for="donor">Donor Count:</label><br>
    <input type="number" name="donor" id="donor" ><br>
    <label for="material">Material Type:</label><br>
    <input type="text" name="material" id="material"><br>
    <label for="updated">Last Updated:</label><br>
    <input type="date" name="updated" id="updated"><br>
    <input type="submit" value="Add Sample">
</form>
</div>
{% endblock %}